In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset = pd.read_csv('100_initial.csv')

In [3]:
# check dataset 
dataset

        country  Age  Weight  Sleep before 10pm
0         China   39      33               True
1   Philippines   49      47              False
2         China   44      39              False
3         China   39      78              False
4         China   29      36              False
..          ...  ...     ...                ...
95        China   22     111               True
96        China   44     114              False
97        China   28      50               True
98        China   21      86               True
99  Philippines   41      88               True

[100 rows x 4 columns]

In [4]:
x = dataset.iloc[:,:-1].values
#x = dataset.iloc[:,:3:2].values
print(x)

[['China' 39 33]
 ['Philippines' 49 47]
 ['China' 44 39]
 ['China' 39 78]
 ['China' 29 36]
 ['Indonesia' 34 93]
 ['Philippines' 33 57]
 ['Philippines' 26 31]
 ['China' 33 35]
 ['China' 41 40]
 ['China' 35 66]
 ['Indonesia' 39 116]
 ['Indonesia' 19 44]
 ['China' 46 50]
 ['China' 19 91]
 ['China' 24 36]
 ['China' 41 113]
 ['Indonesia' 23 89]
 ['Indonesia' 21 90]
 ['China' 28 50]
 ['Indonesia' 37 93]
 ['China' 27 38]
 ['China' 19 65]
 ['China' 20 105]
 ['Indonesia' 23 91]
 ['China' 43 57]
 ['Philippines' 19 84]
 ['China' 34 39]
 ['Indonesia' 24 32]
 ['Philippines' 27 79]
 ['China' 48 92]
 ['China' 37 78]
 ['China' 18 35]
 ['China' 41 91]
 ['Indonesia' 32 44]
 ['China' 19 96]
 ['China' 27 101]
 ['China' 26 39]
 ['China' 29 39]
 ['Philippines' 27 43]
 ['China' 37 34]
 ['China' 46 85]
 ['China' 21 64]
 ['Indonesia' 33 82]
 ['China' 18 71]
 ['China' 24 50]
 ['China' 41 92]
 ['Philippines' 36 53]
 ['Indonesia' 45 78]
 ['China' 43 61]
 ['Philippines' 34 60]
 ['China' 41 100]
 ['China' 30 35]
 ['Indonesia' 41 75]
 ['Malaysia' 49 51]
 ['Philippines' 40 52]
 ['China' 48 89]
 ['China' 19 116]
 ['Malaysia' 32 80]
 ['Indonesia' 44 72]
 ['Malaysia' 24 45]
 ['Indonesia' 20 35]
 ['China' 44 61]
 ['Philippines' 31 97]
 ['China' 21 81]
 ['Malaysia' 42 60]
 ['China' 48 115]
 ['Indonesia' 28 58]
 ['Philippines' 25 86]
 ['Indonesia' 27 67]
 ['Indonesia' 33 46]
 ['Japan' 27 85]
 ['China' 27 40]
 ['China' 24 47]
 ['China' 26 50]
 ['China' 43 104]
 ['Philippines' 38 38]
 ['Philippines' 50 47]
 ['Indonesia' 21 112]
 ['China' 24 51]
 ['Indonesia' 38 115]
 ['Malaysia' 46 33]
 ['China' 47 48]
 ['China' 43 93]
 ['Philippines' 46 92]
 ['Philippines' 19 85]
 ['Indonesia' 26 105]
 ['China' 30 33]
 ['Philippines' 33 102]
 ['China' 20 47]
 ['China' 37 107]
 ['Indonesia' 44 120]
 ['China' 19 55]
 ['Philippines' 41 40]
 ['China' 47 107]
 ['China' 22 111]
 ['China' 44 114]
 ['China' 28 50]
 ['China' 21 86]
 ['Philippines' 41 88]]

In [5]:
# check column 
dataset.columns

Index(['country', 'Age', 'Weight', 'Sleep before 10pm'], dtype='object')

In [6]:
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, 3].values

In [7]:
y

array([ True, False, False, False, False, False, False,  True,  True,
       False, False, False,  True, False, False,  True, False,  True,
        True, False,  True,  True, False,  True, False, False, False,
        True,  True, False,  True,  True, False, False,  True, False,
        True, False, False, False, False, False, False, False, False,
       False, False,  True, False,  True, False, False, False, False,
        True,  True,  True,  True,  True,  True, False, False, False,
        True, False,  True, False,  True, False,  True, False, False,
       False, False,  True,  True, False,  True, False, False, False,
       False,  True, False, False,  True,  True,  True,  True,  True,
       False,  True, False,  True,  True,  True, False,  True,  True,
        True])

In [8]:
dataset.size

400

In [9]:
dataset.shape

(100, 4)

## Handling missing Data

In [10]:
dataset1 = pd.read_csv('10_initial_m.csv')
dataset1

       country   Age  Weight  Sleep before 10pm
0        China  39.0    33.0               True
1  Philippines  49.0    47.0              False
2        China   NaN    39.0              False
3        China  39.0    78.0              False
4        China  29.0     NaN              False
5    Indonesia  34.0    93.0              False
6  Philippines  33.0    57.0              False
7  Philippines  26.0    31.0               True
8        China   NaN    35.0               True
9        China  41.0     NaN              False

In [11]:
dataset1
X = dataset.iloc[:,:-1].values
Y = dataset.iloc[:,3].values
print(dataset)

        country  Age  Weight  Sleep before 10pm
0         China   39      33               True
1   Philippines   49      47              False
2         China   44      39              False
3         China   39      78              False
4         China   29      36              False
..          ...  ...     ...                ...
95        China   22     111               True
96        China   44     114              False
97        China   28      50               True
98        China   21      86               True
99  Philippines   41      88               True

[100 rows x 4 columns]

In [12]:
#using SimpleImputer class 
import numpy as np 
# Importing the SimpleImputer class 
from sklearn.impute import SimpleImputer

In [13]:
# Imputer object using the mean strategy and  
# missing_values type for imputation 
imputer=SimpleImputer(missing_values= np.nan,strategy='mean')
imputer = imputer.fit(X[:,1:3])
X[:,1:3]=imputer.transform(X[:,1:3])

In [21]:
X

array([[1.0, 0.0, 0.0, 0.0, 0.0, 39.0, 33.0],
       [0.0, 0.0, 0.0, 0.0, 1.0, 49.0, 47.0],
       [1.0, 0.0, 0.0, 0.0, 0.0, 44.0, 39.0],
       [1.0, 0.0, 0.0, 0.0, 0.0, 39.0, 78.0],
       [1.0, 0.0, 0.0, 0.0, 0.0, 29.0, 36.0],
       [0.0, 1.0, 0.0, 0.0, 0.0, 34.0, 93.0],
       [0.0, 0.0, 0.0, 0.0, 1.0, 33.0, 57.0],
       [0.0, 0.0, 0.0, 0.0, 1.0, 26.0, 31.0],
       [1.0, 0.0, 0.0, 0.0, 0.0, 33.0, 35.0],
       [1.0, 0.0, 0.0, 0.0, 0.0, 41.0, 40.0],
       [1.0, 0.0, 0.0, 0.0, 0.0, 35.0, 66.0],
       [0.0, 1.0, 0.0, 0.0, 0.0, 39.0, 116.0],
       [0.0, 1.0, 0.0, 0.0, 0.0, 19.0, 44.0],
       [1.0, 0.0, 0.0, 0.0, 0.0, 46.0, 50.0],
       [1.0, 0.0, 0.0, 0.0, 0.0, 19.0, 91.0],
       [1.0, 0.0, 0.0, 0.0, 0.0, 24.0, 36.0],
       [1.0, 0.0, 0.0, 0.0, 0.0, 41.0, 113.0],
       [0.0, 1.0, 0.0, 0.0, 0.0, 23.0, 89.0],
       [0.0, 1.0, 0.0, 0.0, 0.0, 21.0, 90.0],
       [1.0, 0.0, 0.0, 0.0, 0.0, 28.0, 50.0],
       [0.0, 1.0, 0.0, 0.0, 0.0, 37.0, 93.0],
       [1.0, 0.0, 0.0, 0.0, 0.0, 27.0, 38.0],
       [1.0, 0.0, 0.0, 0.0, 0.0, 19.0, 65.0],
       [1.0, 0.0, 0.0, 0.0, 0.0, 20.0, 105.0],
       [0.0, 1.0, 0.0, 0.0, 0.0, 23.0, 91.0],
       [1.0, 0.0, 0.0, 0.0, 0.0, 43.0, 57.0],
       [0.0, 0.0, 0.0, 0.0, 1.0, 19.0, 84.0],
       [1.0, 0.0, 0.0, 0.0, 0.0, 34.0, 39.0],
       [0.0, 1.0, 0.0, 0.0, 0.0, 24.0, 32.0],
       [0.0, 0.0, 0.0, 0.0, 1.0, 27.0, 79.0],
       [1.0, 0.0, 0.0, 0.0, 0.0, 48.0, 92.0],
       [1.0, 0.0, 0.0, 0.0, 0.0, 37.0, 78.0],
       [1.0, 0.0, 0.0, 0.0, 0.0, 18.0, 35.0],
       [1.0, 0.0, 0.0, 0.0, 0.0, 41.0, 91.0],
       [0.0, 1.0, 0.0, 0.0, 0.0, 32.0, 44.0],
       [1.0, 0.0, 0.0, 0.0, 0.0, 19.0, 96.0],
       [1.0, 0.0, 0.0, 0.0, 0.0, 27.0, 101.0],
       [1.0, 0.0, 0.0, 0.0, 0.0, 26.0, 39.0],
       [1.0, 0.0, 0.0, 0.0, 0.0, 29.0, 39.0],
       [0.0, 0.0, 0.0, 0.0, 1.0, 27.0, 43.0],
       [1.0, 0.0, 0.0, 0.0, 0.0, 37.0, 34.0],
       [1.0, 0.0, 0.0, 0.0, 0.0, 46.0, 85.0],
       [1.0, 0.0, 0.0, 0.0, 0.0, 21.0, 64.0],
       [0.0, 1.0, 0.0, 0.0, 0.0, 33.0, 82.0],
       [1.0, 0.0, 0.0, 0.0, 0.0, 18.0, 71.0],
       [1.0, 0.0, 0.0, 0.0, 0.0, 24.0, 50.0],
       [1.0, 0.0, 0.0, 0.0, 0.0, 41.0, 92.0],
       [0.0, 0.0, 0.0, 0.0, 1.0, 36.0, 53.0],
       [0.0, 1.0, 0.0, 0.0, 0.0, 45.0, 78.0],
       [1.0, 0.0, 0.0, 0.0, 0.0, 43.0, 61.0],
       [0.0, 0.0, 0.0, 0.0, 1.0, 34.0, 60.0],
       [1.0, 0.0, 0.0, 0.0, 0.0, 41.0, 100.0],
       [1.0, 0.0, 0.0, 0.0, 0.0, 30.0, 35.0],
       [0.0, 1.0, 0.0, 0.0, 0.0, 41.0, 75.0],
       [0.0, 0.0, 0.0, 1.0, 0.0, 49.0, 51.0],
       [0.0, 0.0, 0.0, 0.0, 1.0, 40.0, 52.0],
       [1.0, 0.0, 0.0, 0.0, 0.0, 48.0, 89.0],
       [1.0, 0.0, 0.0, 0.0, 0.0, 19.0, 116.0],
       [0.0, 0.0, 0.0, 1.0, 0.0, 32.0, 80.0],
       [0.0, 1.0, 0.0, 0.0, 0.0, 44.0, 72.0],
       [0.0, 0.0, 0.0, 1.0, 0.0, 24.0, 45.0],
       [0.0, 1.0, 0.0, 0.0, 0.0, 20.0, 35.0],
       [1.0, 0.0, 0.0, 0.0, 0.0, 44.0, 61.0],
       [0.0, 0.0, 0.0, 0.0, 1.0, 31.0, 97.0],
       [1.0, 0.0, 0.0, 0.0, 0.0, 21.0, 81.0],
       [0.0, 0.0, 0.0, 1.0, 0.0, 42.0, 60.0],
       [1.0, 0.0, 0.0, 0.0, 0.0, 48.0, 115.0],
       [0.0, 1.0, 0.0, 0.0, 0.0, 28.0, 58.0],
       [0.0, 0.0, 0.0, 0.0, 1.0, 25.0, 86.0],
       [0.0, 1.0, 0.0, 0.0, 0.0, 27.0, 67.0],
       [0.0, 1.0, 0.0, 0.0, 0.0, 33.0, 46.0],
       [0.0, 0.0, 1.0, 0.0, 0.0, 27.0, 85.0],
       [1.0, 0.0, 0.0, 0.0, 0.0, 27.0, 40.0],
       [1.0, 0.0, 0.0, 0.0, 0.0, 24.0, 47.0],
       [1.0, 0.0, 0.0, 0.0, 0.0, 26.0, 50.0],
       [1.0, 0.0, 0.0, 0.0, 0.0, 43.0, 104.0],
       [0.0, 0.0, 0.0, 0.0, 1.0, 38.0, 38.0],
       [0.0, 0.0, 0.0, 0.0, 1.0, 50.0, 47.0],
       [0.0, 1.0, 0.0, 0.0, 0.0, 21.0, 112.0],
       [1.0, 0.0, 0.0, 0.0, 0.0, 24.0, 51.0],
       [0.0, 1.0, 0.0, 0.0, 0.0, 38.0, 115.0],
       [0.0, 0.0, 0.0, 1.0, 0.0, 46.0, 33.0],
       [1.0, 0.0, 0.0, 0.0, 0.0, 47.0, 48.0],
       [1.0, 0.0, 0.0, 0.0, 0.0, 43.0, 93.0],
       [0.0, 0.0, 0.0, 0.0, 1.0, 46.0, 92.0],
       [0.0, 0.0, 0.0, 0.0, 1.0, 19.0, 85.0],
       [0.0, 1.0, 0.0, 0.0, 0.0, 26.0, 105.0],
       [1.0, 0.0, 0.0, 0.0, 0.0, 30.0, 33.0],
       [0.0, 0.0, 0.0, 0.0, 1.0, 33.0, 102.0],
       [1.0, 0.0, 0.0, 0.0, 0.0, 20.0, 47.0],
       [1.0, 0.0, 0.0, 0.0, 0.0, 37.0, 107.0],
       [0.0, 1.0, 0.0, 0.0, 0.0, 44.0, 120.0],
       [1.0, 0.0, 0.0, 0.0, 0.0, 19.0, 55.0],
       [0.0, 0.0, 0.0, 0.0, 1.0, 41.0, 40.0],
       [1.0, 0.0, 0.0, 0.0, 0.0, 47.0, 107.0],
       [1.0, 0.0, 0.0, 0.0, 0.0, 22.0, 111.0],
       [1.0, 0.0, 0.0, 0.0, 0.0, 44.0, 114.0],
       [1.0, 0.0, 0.0, 0.0, 0.0, 28.0, 50.0],
       [1.0, 0.0, 0.0, 0.0, 0.0, 21.0, 86.0],
       [0.0, 0.0, 0.0, 0.0, 1.0, 41.0, 88.0]], dtype=object)

In [15]:
# set is to get unique data 
# after sort, data in sequence 0,1,2
d = list(set(dataset.iloc[:,0].values))
d.sort()
d

['China', 'Indonesia', 'Japan', 'Malaysia', 'Philippines']

In [16]:
from sklearn.preprocessing import LabelEncoder
labelencoder_X = LabelEncoder()
X[:, 0] = labelencoder_X.fit_transform(X[:, 0])

In [17]:
# handling categorical data 
# Encoding the Independent Variable

from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_X = LabelEncoder()
X[:, 0] = labelencoder_X.fit_transform(X[:, 0])

print(X)

[[0 39.0 33.0]
 [4 49.0 47.0]
 [0 44.0 39.0]
 [0 39.0 78.0]
 [0 29.0 36.0]
 [1 34.0 93.0]
 [4 33.0 57.0]
 [4 26.0 31.0]
 [0 33.0 35.0]
 [0 41.0 40.0]
 [0 35.0 66.0]
 [1 39.0 116.0]
 [1 19.0 44.0]
 [0 46.0 50.0]
 [0 19.0 91.0]
 [0 24.0 36.0]
 [0 41.0 113.0]
 [1 23.0 89.0]
 [1 21.0 90.0]
 [0 28.0 50.0]
 [1 37.0 93.0]
 [0 27.0 38.0]
 [0 19.0 65.0]
 [0 20.0 105.0]
 [1 23.0 91.0]
 [0 43.0 57.0]
 [4 19.0 84.0]
 [0 34.0 39.0]
 [1 24.0 32.0]
 [4 27.0 79.0]
 [0 48.0 92.0]
 [0 37.0 78.0]
 [0 18.0 35.0]
 [0 41.0 91.0]
 [1 32.0 44.0]
 [0 19.0 96.0]
 [0 27.0 101.0]
 [0 26.0 39.0]
 [0 29.0 39.0]
 [4 27.0 43.0]
 [0 37.0 34.0]
 [0 46.0 85.0]
 [0 21.0 64.0]
 [1 33.0 82.0]
 [0 18.0 71.0]
 [0 24.0 50.0]
 [0 41.0 92.0]
 [4 36.0 53.0]
 [1 45.0 78.0]
 [0 43.0 61.0]
 [4 34.0 60.0]
 [0 41.0 100.0]
 [0 30.0 35.0]
 [1 41.0 75.0]
 [3 49.0 51.0]
 [4 40.0 52.0]
 [0 48.0 89.0]
 [0 19.0 116.0]
 [3 32.0 80.0]
 [1 44.0 72.0]
 [3 24.0 45.0]
 [1 20.0 35.0]
 [0 44.0 61.0]
 [4 31.0 97.0]
 [0 21.0 81.0]
 [3 42.0 60.0]
 [0 48.0 115.0]
 [1 28.0 58.0]
 [4 25.0 86.0]
 [1 27.0 67.0]
 [1 33.0 46.0]
 [2 27.0 85.0]
 [0 27.0 40.0]
 [0 24.0 47.0]
 [0 26.0 50.0]
 [0 43.0 104.0]
 [4 38.0 38.0]
 [4 50.0 47.0]
 [1 21.0 112.0]
 [0 24.0 51.0]
 [1 38.0 115.0]
 [3 46.0 33.0]
 [0 47.0 48.0]
 [0 43.0 93.0]
 [4 46.0 92.0]
 [4 19.0 85.0]
 [1 26.0 105.0]
 [0 30.0 33.0]
 [4 33.0 102.0]
 [0 20.0 47.0]
 [0 37.0 107.0]
 [1 44.0 120.0]
 [0 19.0 55.0]
 [4 41.0 40.0]
 [0 47.0 107.0]
 [0 22.0 111.0]
 [0 44.0 114.0]
 [0 28.0 50.0]
 [0 21.0 86.0]
 [4 41.0 88.0]]

In [23]:
from sklearn.compose import ColumnTransformer
ct = ColumnTransformer([("Country", OneHotEncoder(), [0])], remainder = 'passthrough')
X = ct.fit_transform(X)
print(X)

[[1.0 0.0 1.0 0.0 0.0 0.0 0.0 39.0 33.0]
 [0.0 1.0 0.0 0.0 0.0 0.0 1.0 49.0 47.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 44.0 39.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 39.0 78.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 29.0 36.0]
 [0.0 1.0 0.0 1.0 0.0 0.0 0.0 34.0 93.0]
 [0.0 1.0 0.0 0.0 0.0 0.0 1.0 33.0 57.0]
 [0.0 1.0 0.0 0.0 0.0 0.0 1.0 26.0 31.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 33.0 35.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 41.0 40.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 35.0 66.0]
 [0.0 1.0 0.0 1.0 0.0 0.0 0.0 39.0 116.0]
 [0.0 1.0 0.0 1.0 0.0 0.0 0.0 19.0 44.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 46.0 50.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 19.0 91.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 24.0 36.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 41.0 113.0]
 [0.0 1.0 0.0 1.0 0.0 0.0 0.0 23.0 89.0]
 [0.0 1.0 0.0 1.0 0.0 0.0 0.0 21.0 90.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 28.0 50.0]
 [0.0 1.0 0.0 1.0 0.0 0.0 0.0 37.0 93.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 27.0 38.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 19.0 65.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 20.0 105.0]
 [0.0 1.0 0.0 1.0 0.0 0.0 0.0 23.0 91.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 43.0 57.0]
 [0.0 1.0 0.0 0.0 0.0 0.0 1.0 19.0 84.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 34.0 39.0]
 [0.0 1.0 0.0 1.0 0.0 0.0 0.0 24.0 32.0]
 [0.0 1.0 0.0 0.0 0.0 0.0 1.0 27.0 79.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 48.0 92.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 37.0 78.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 18.0 35.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 41.0 91.0]
 [0.0 1.0 0.0 1.0 0.0 0.0 0.0 32.0 44.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 19.0 96.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 27.0 101.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 26.0 39.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 29.0 39.0]
 [0.0 1.0 0.0 0.0 0.0 0.0 1.0 27.0 43.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 37.0 34.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 46.0 85.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 21.0 64.0]
 [0.0 1.0 0.0 1.0 0.0 0.0 0.0 33.0 82.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 18.0 71.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 24.0 50.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 41.0 92.0]
 [0.0 1.0 0.0 0.0 0.0 0.0 1.0 36.0 53.0]
 [0.0 1.0 0.0 1.0 0.0 0.0 0.0 45.0 78.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 43.0 61.0]
 [0.0 1.0 0.0 0.0 0.0 0.0 1.0 34.0 60.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 41.0 100.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 30.0 35.0]
 [0.0 1.0 0.0 1.0 0.0 0.0 0.0 41.0 75.0]
 [0.0 1.0 0.0 0.0 0.0 1.0 0.0 49.0 51.0]
 [0.0 1.0 0.0 0.0 0.0 0.0 1.0 40.0 52.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 48.0 89.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 19.0 116.0]
 [0.0 1.0 0.0 0.0 0.0 1.0 0.0 32.0 80.0]
 [0.0 1.0 0.0 1.0 0.0 0.0 0.0 44.0 72.0]
 [0.0 1.0 0.0 0.0 0.0 1.0 0.0 24.0 45.0]
 [0.0 1.0 0.0 1.0 0.0 0.0 0.0 20.0 35.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 44.0 61.0]
 [0.0 1.0 0.0 0.0 0.0 0.0 1.0 31.0 97.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 21.0 81.0]
 [0.0 1.0 0.0 0.0 0.0 1.0 0.0 42.0 60.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 48.0 115.0]
 [0.0 1.0 0.0 1.0 0.0 0.0 0.0 28.0 58.0]
 [0.0 1.0 0.0 0.0 0.0 0.0 1.0 25.0 86.0]
 [0.0 1.0 0.0 1.0 0.0 0.0 0.0 27.0 67.0]
 [0.0 1.0 0.0 1.0 0.0 0.0 0.0 33.0 46.0]
 [0.0 1.0 0.0 0.0 1.0 0.0 0.0 27.0 85.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 27.0 40.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 24.0 47.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 26.0 50.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 43.0 104.0]
 [0.0 1.0 0.0 0.0 0.0 0.0 1.0 38.0 38.0]
 [0.0 1.0 0.0 0.0 0.0 0.0 1.0 50.0 47.0]
 [0.0 1.0 0.0 1.0 0.0 0.0 0.0 21.0 112.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 24.0 51.0]
 [0.0 1.0 0.0 1.0 0.0 0.0 0.0 38.0 115.0]
 [0.0 1.0 0.0 0.0 0.0 1.0 0.0 46.0 33.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 47.0 48.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 43.0 93.0]
 [0.0 1.0 0.0 0.0 0.0 0.0 1.0 46.0 92.0]
 [0.0 1.0 0.0 0.0 0.0 0.0 1.0 19.0 85.0]
 [0.0 1.0 0.0 1.0 0.0 0.0 0.0 26.0 105.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 30.0 33.0]
 [0.0 1.0 0.0 0.0 0.0 0.0 1.0 33.0 102.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 20.0 47.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 37.0 107.0]
 [0.0 1.0 0.0 1.0 0.0 0.0 0.0 44.0 120.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 19.0 55.0]
 [0.0 1.0 0.0 0.0 0.0 0.0 1.0 41.0 40.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 47.0 107.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 22.0 111.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 44.0 114.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 28.0 50.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 21.0 86.0]
 [0.0 1.0 0.0 0.0 0.0 0.0 1.0 41.0 88.0]]

In [26]:
# Encoding the Dependent Variable
labelencoder_y = LabelEncoder()
y = labelencoder_y.fit_transform(y)

In [27]:
# Diving data into training and test 
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, 
random_state = 0)

In [28]:
print(X_train)
print(y_train)

[[0.0 1.0 0.0 1.0 0.0 0.0 0.0 33.0 82.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 44.0 61.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 39.0 78.0]
 [0.0 1.0 0.0 0.0 1.0 0.0 0.0 27.0 85.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 24.0 50.0]
 [0.0 1.0 0.0 1.0 0.0 0.0 0.0 45.0 78.0]
 [0.0 1.0 0.0 0.0 0.0 0.0 1.0 33.0 57.0]
 [0.0 1.0 0.0 0.0 0.0 0.0 1.0 41.0 88.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 47.0 48.0]
 [0.0 1.0 0.0 0.0 0.0 0.0 1.0 38.0 38.0]
 [0.0 1.0 0.0 0.0 0.0 1.0 0.0 24.0 45.0]
 [0.0 1.0 0.0 1.0 0.0 0.0 0.0 38.0 115.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 37.0 107.0]
 [0.0 1.0 0.0 0.0 0.0 0.0 1.0 25.0 86.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 41.0 100.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 34.0 39.0]
 [0.0 1.0 0.0 1.0 0.0 0.0 0.0 21.0 90.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 48.0 89.0]
 [0.0 1.0 0.0 0.0 0.0 0.0 1.0 31.0 97.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 26.0 50.0]
 [0.0 1.0 0.0 0.0 0.0 0.0 1.0 49.0 47.0]
 [0.0 1.0 0.0 1.0 0.0 0.0 0.0 20.0 35.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 21.0 64.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 46.0 85.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 29.0 36.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 24.0 36.0]
 [0.0 1.0 0.0 1.0 0.0 0.0 0.0 23.0 89.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 37.0 34.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 29.0 39.0]
 [0.0 1.0 0.0 1.0 0.0 0.0 0.0 34.0 93.0]
 [0.0 1.0 0.0 1.0 0.0 0.0 0.0 44.0 120.0]
 [0.0 1.0 0.0 1.0 0.0 0.0 0.0 44.0 72.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 39.0 33.0]
 [0.0 1.0 0.0 1.0 0.0 0.0 0.0 32.0 44.0]
 [0.0 1.0 0.0 1.0 0.0 0.0 0.0 24.0 32.0]
 [0.0 1.0 0.0 0.0 0.0 0.0 1.0 34.0 60.0]
 [0.0 1.0 0.0 1.0 0.0 0.0 0.0 39.0 116.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 19.0 96.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 20.0 105.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 30.0 35.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 35.0 66.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 37.0 78.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 48.0 115.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 19.0 116.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 24.0 51.0]
 [0.0 1.0 0.0 0.0 0.0 0.0 1.0 19.0 85.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 18.0 35.0]
 [0.0 1.0 0.0 0.0 0.0 0.0 1.0 46.0 92.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 19.0 91.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 20.0 47.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 28.0 50.0]
 [0.0 1.0 0.0 0.0 0.0 0.0 1.0 27.0 79.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 43.0 61.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 28.0 50.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 21.0 86.0]
 [0.0 1.0 0.0 1.0 0.0 0.0 0.0 27.0 67.0]
 [0.0 1.0 0.0 1.0 0.0 0.0 0.0 37.0 93.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 47.0 107.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 27.0 40.0]
 [0.0 1.0 0.0 0.0 0.0 0.0 1.0 50.0 47.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 43.0 57.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 26.0 39.0]
 [0.0 1.0 0.0 0.0 0.0 1.0 0.0 46.0 33.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 41.0 92.0]
 [0.0 1.0 0.0 0.0 0.0 0.0 1.0 27.0 43.0]
 [0.0 1.0 0.0 0.0 0.0 1.0 0.0 42.0 60.0]
 [0.0 1.0 0.0 0.0 0.0 1.0 0.0 32.0 80.0]
 [0.0 1.0 0.0 1.0 0.0 0.0 0.0 19.0 44.0]
 [0.0 1.0 0.0 0.0 0.0 0.0 1.0 33.0 102.0]
 [0.0 1.0 0.0 1.0 0.0 0.0 0.0 33.0 46.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 30.0 33.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 27.0 101.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 27.0 38.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 43.0 93.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 41.0 40.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 44.0 114.0]
 [0.0 1.0 0.0 1.0 0.0 0.0 0.0 28.0 58.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 21.0 81.0]
 [0.0 1.0 0.0 0.0 0.0 0.0 1.0 36.0 53.0]
 [1.0 0.0 1.0 0.0 0.0 0.0 0.0 18.0 71.0]]
[0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 1 1 1 1 1 0 0 0 0 0 1 1 0 0 0 1 1 1 1 1 0 0
 0 1 0 0 1 0 1 0 1 0 0 0 1 0 0 1 1 1 1 1 1 0 1 0 0 0 0 0 1 1 1 1 0 1 1 1 0
 0 0 1 0 1 0]

## Feature Scaling

In [35]:
dataset =pd.read_csv('10_initial_FS.csv')
X = dataset.iloc[:,:-1].values
Y = dataset.iloc[:,4].values

In [36]:
print(X)

[['China' 39 33 54656]
 ['Philippines' 49 47 79952]
 ['China' 44 39 97507]
 ['China' 39 78 98912]
 ['China' 29 36 69585]
 ['Indonesia' 34 93 86324]
 ['Philippines' 33 57 94321]
 ['Philippines' 26 31 65625]
 ['China' 33 35 93450]
 ['China' 41 40 70155]]

In [37]:
dataset

       country  Age  Weight  Salary  Sleep before 10pm
0        China   39      33   54656               True
1  Philippines   49      47   79952              False
2        China   44      39   97507              False
3        China   39      78   98912              False
4        China   29      36   69585              False
5    Indonesia   34      93   86324              False
6  Philippines   33      57   94321              False
7  Philippines   26      31   65625               True
8        China   33      35   93450               True
9        China   41      40   70155              False

In [38]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_X = LabelEncoder()
X[:, 0] = labelencoder_X.fit_transform(X[:, 0])

from sklearn.compose import ColumnTransformer
ct = ColumnTransformer([("Country", OneHotEncoder(), [0])], remainder = 'passthrough')
X = ct.fit_transform(X)
print(X)

[[1.0 0.0 0.0 39 33 54656]
 [0.0 0.0 1.0 49 47 79952]
 [1.0 0.0 0.0 44 39 97507]
 [1.0 0.0 0.0 39 78 98912]
 [1.0 0.0 0.0 29 36 69585]
 [0.0 1.0 0.0 34 93 86324]
 [0.0 0.0 1.0 33 57 94321]
 [0.0 0.0 1.0 26 31 65625]
 [1.0 0.0 0.0 33 35 93450]
 [1.0 0.0 0.0 41 40 70155]]

In [40]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X = sc_X.fit_transform(X)
print(X)

[[ 0.81649658 -0.33333333 -0.65465367  0.34591355 -0.79790769 -1.8069119 ]
 [-1.22474487 -0.33333333  1.52752523  1.84988552 -0.09534746 -0.07508289]
 [ 0.81649658 -0.33333333 -0.65465367  1.09789954 -0.49681045  1.12677741]
 [ 0.81649658 -0.33333333 -0.65465367  0.34591355  1.46032162  1.22296731]
 [ 0.81649658 -0.33333333 -0.65465367 -1.15805842 -0.64735907 -0.78483429]
 [-1.22474487  3.         -0.65465367 -0.40607243  2.21306472  0.36116056]
 [-1.22474487 -0.33333333  1.52752523 -0.55646963  0.40648127  0.90865568]
 [-1.22474487 -0.33333333  1.52752523 -1.60925001 -0.89827343 -1.05594604]
 [ 0.81649658 -0.33333333 -0.65465367 -0.55646963 -0.69754194  0.84902479]
 [ 0.81649658 -0.33333333 -0.65465367  0.64670795 -0.44662757 -0.74581063]]

In [42]:
from platform import python_version

print(python_version())

3.8.8

In [44]:
import sklearn

print('The scikit-learn version is {}.'.format(sklearn.__version__))

The scikit-learn version is 0.24.2.